

.depthListMain .depthList ul{ width:1030px; margin-left:-30px; overflow:hidden;}
.depthListMain .depthList li{float:left; display:inline; width:312px; text-align:center;font-family:Microsoft YaHei; margin:20px 0 5px 30px; font-size:14px; height:165px; overflow:hidden; }