
.silderPage a{ display:block; width:12px; height:19px; position:absolute;}
.silderPage .pre{ background:url(images/pre2.png) no-repeat; left:15px; top:40px;}
.silderPage .next{ background:url(images/pre2.png) -27px 0 no-repeat; right:15px; top:40px;}

.silderPage .pre:hover{ background-position:0 -47px;}
.silderPage .next:hover{background-position:-27px -47px;}


/*轮播*/
.t_d_body{ background:#fdfdfd; font-family:"Microsoft YaHei";}
.t_d_container{ width:1000px; margin:0 auto; overflow:hidden; text-align:left;font-family:"Microsoft YaHei";}
.t_d_container .tid_mian{ margin-top:30px;}
.t_d_container .tid_mian a{ display:block;}
.t_d_container .tid_mian .tih_show a{ position:relative;}
.t_d_container .tid_mian .tih_show a .videoIco{ left:5px;}
.t_d_container .tid_mian a:hover{ color:#eb6100;}
.t_d_container .tid_hb_l{ width:675px; float:left; overflow:hidden;}
.t_d_container .slidebox{width:675px; height:361px; overflow:hidden; position:relative;}
.t_d_container .slidebox ul.items{float:left; background:none; list-style:none; padding:0px; margin:0px;}
.t_d_container .slidebox ul.items a{ height:361px;}
.t_d_container .slidebox ul.items li{ float:left; background:none; list-style:none; padding:0px; margin:0px; position:relative;}
.t_d_container .slidebox ul.items li .slide_tit{ position:absolute; left:0px; bottom:0px; width:100%; height:40px;color:#FFF; font-size:18px; line-height:40px;background:#000;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; filter:alpha(opacity=70); opacity: 0.7; text-indent:10px;}
.t_d_container .slidebox ul.items li .slide_tit:hover{color:#FFF;}
.t_d_container .slide_bar{ position:absolute; right:0px; bottom:0; height:40px;}
.t_d_container .slide_bar li{display:inline-block;float:left; width:10px; height:10px; background-color:#c8c5c5; text-indent:-99999px; margin:15px 10px 0px 0px; border-radius:10px; cursor:pointer;}
.t_d_container .slide_bar li.active{ background:#fff;}
.t_d_container .slidenext, .t_d_container .slidepre { font-size: 50px; color: #fff; position: absolute; top: 125px; cursor: pointer; opacity: 0.6; }
.t_d_container .slidenext { right: 0; }
.t_d_container .slidenext:hover { opacity: 1; }
.t_d_container .slidepre { left: 0; }
.t_d_container .slidepre:hover { opacity: 1; }

.t_d_container .tid_hb_r{ float:right; width:325px; overflow:hidden; height:361px;}
.t_d_container .tih_h3{ height:30px; position:relative; line-height:30px; font-size:16px; color:#fff; font-weight:normal; font-family:"Microsoft YaHei"; background:#595656; text-indent:10px;}
.t_d_container .tih_h3 .t_h_more{ position:absolute; right:5px; top:0; font-size:12px; color:#fff; text-decoration:none;}
.t_d_container .tih_info{ background:url(images/tid_bgco.png) repeat 0 0; height:331px; width:305px; padding:10px;}
.t_d_container .tih_info li{ line-height:normal; margin-bottom:12px; position:relative;zoom:1; *display:inline;}
.t_d_container .tih_digi{ width:19px; height:19px; display:inline-block; position:absolute; left:0; top:0; line-height:normal; background:#bebebe; text-align:center;-moz-border-radius:50%;-webkit-border-radius:50%; border-radius:50%; color:#fff;}
.t_d_container .tih_red{background:#eb6100;}
.t_d_container .tih_txt{ line-height:20px; height:20px; overflow:hidden; padding-left:25px; font-size:14px; color:#333; font-family:"宋体";}
.t_d_container .tih_show{ height:82px; overflow:hidden; padding-left:25px;}
.t_d_container .tih_pics{ float:left; width:110px;}
.t_d_container .t_show_txt{ float:left; margin-left:10px; width:150px; }
.t_d_container .t_show_txt a{font-family:"Microsoft YaHei"; font-size:14px; line-height:22px; height:40px; margin-bottom:15px; overflow:hidden;}
.t_d_container .t_show_txt span{ color:#bcbcbc; font-size:12px; font-family:"宋体";}
.t_d_container .tid_c_left{ float:left; width:675px; margin-right:25px; overflow:hidden;}
.t_d_container .tid_h3{ height:50px; position:relative; line-height:50px; font-size:24px; color:#000; font-weight:normal; font-family:"Microsoft YaHei"; border-top:1px solid #eb6100;}


.mainBox{ border-top:1px solid #eb6100; background:#f7f7f7; padding:15px; width:970px;}
.mainTag{ width:327px; height:303px; overflow:hidden; font-family:Microsoft YaHei;}
.columnsTitle{ font-size:20px; color:#eb6100;}
.mainTagC{ height:100px; overflow:hidden; margin:16px 0;}
.mainTagC li{ display:inline; margin-right:15px;}

.mainBox .sportvideo{ width:327px; overflow:hidden; height:303px; overflow:hidden;}
.mainBox .sportvideo ul{ width:345px; margin-left:-15px;}
.mainBox .sportvideo li{ width:156px; height:145px; margin-bottom:10px;margin-left:15px; margin-top:0;font-family:SimSun;}
.mainBox .sportvideo li a{ margin-bottom:3px;}
.mainVideo{ width:287px; height:303px; overflow:hidden; margin:0 14px; display:inline; position:relative;}
.mainVideo a{ display:block;}
.videoTitle{ position:absolute; bottom:0; color:#fff; font-size:16px;font-family:Microsoft YaHei; height:40px; line-height:40px; overflow:hidden; width:267px; padding:0 10px;background:#000;opacity: 0.7;filter:  alpha(opacity=70);}
.videoTitle:hover{ color:#fff;}
.videoIcoB{ background:url(images/videoicob.png) no-repeat; width:58px; height:58px; position:absolute; top:50%; left:50%; margin-top:-29px;  margin-left:-29px;}

.videoListB{border-top: 1px solid #eb6100;background: #f7f7f7; padding:15px; width:970px;}
.videoListB .columnsTitle{ font-family:Microsoft YaHei}
.videoListB ul{ margin-left:-20px; width:990px; overflow:hidden;}
.videoListB li{ width:178px; height:150px; overflow:hidden; float:left; display:inline; margin-left:20px; margin-top:15px; line-height:160%;}
.videoListB .sportvideoImg{ width:178px; height:109px;}
.videoListB li a{ display:block; margin-bottom:5px;}
.videoListB .videoIco{ left:5px; bottom:5px;}