.depthSide{ background:url(images/repeatbg.jpg) repeat; position:relative;}
.depthSide .sliderImg .fl{ width:696px; height:311px;}
.depthSide .sliderImg .fr{ width:275px; color:#666; margin-right:13px; margin-top:15px;}
.depthSide .sliderImg .fr a{ font-size:20px;font-family:Microsoft YaHei; display:block; margin-bottom:20px;}

.depthSide .sliderNo{ position:absolute; right:0; bottom:20px; width:275px; font-family:Arial; text-align:center;}
.depthSide .sliderNo a{border-radius:50%; color:#fff; display:inline-block; width:24px; height:24px; text-align:center; line-height:24px; background:#bbbbbb;}
.depthSide .sliderNo li{ display:inline; margin-right:8px;}
.depthSide .sliderNo li.active a,.depthSide .sliderNo a:hover{ background:#eb6100; text-decoration:none;}

.depthSide  .slidepre{ font-size:50px; color:#fff; position:absolute; left:0; top:125px; cursor:pointer;}
.depthSide  .slidenext{ font-size:50px; color:#fff; position:absolute; right:0; top:125px; cursor:pointer;}

.titleBig{ color:#000000; font-size:24px; height:35px; line-height:35px;font-family:Microsoft YaHei; border-bottom:1px solid #eb6100;}
.titleBig .more{ line-height:50px; margin-top:-25px;}
.titleBig .more:hover{ text-decoration:none;}

.depthList ul{  margin-left:-30px; width:1030px; overflow:hidden;}
.depthList li{ float:left; display:inline; width:312px; text-align:center; position:relative;font-family:Microsoft YaHei; margin:20px 0 10px 30px;}
.titleShort{ position:absolute; left:0; bottom:0px; display:block; width:292px; padding:0 10px; height:30px; line-height:30px; overflow:hidden; color:#fff;background:#000;opacity: 0.7;filter:  alpha(opacity=70);}
.titleShort:hover{ color:#fff;}

.titleBigA{ font-size:24px; color:#000;font-family:Microsoft YaHei; border-top:1px solid #eb6100; position:relative;}
.titleBigA span{ display:inline-block; padding:0 15px; width:auto; border-left:1px solid #eb6100; border-right:1px solid #eb6100; position:absolute; top:-12px; height:25px; line-height:25px; overflow:hidden; background:#fff;}

.depthListA{ clear:both; padding-top:15px; font-size:14px; margin-left:-30px; width:1030px; overflow:hidden;}
.depthListOne{width:312px; float:left; display:inline; margin-top:20px; margin-left:30px;}
.depthListOneA{font-family:Microsoft YaHei; width:312px; padding-bottom:10px;}
.depthListOneB{ border-top:1px dashed #cacaca; padding-top:10px;}
.depthListOneB li{ background:url(images/dian.jpg) 0 14px no-repeat; line-height:200%; padding-left:10px;}